{% if site.comments and site.disqus != '' %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus }}';

    var disqus_config = function () {
        this.page.identifier = '{{ page.url | slugify }}';
    };

   (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = '//' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
   
  
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?573aaf18eee36e91bf340a931c3cccc3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


 </script>
{% endif %}
